.card{
    width: 400px;
    height: 400px;
    background-color: palegreen;
    color: white;
    margin: 35px;
    position: relative;
    
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(0.7);
    }

    h2{
        position: absolute;
        top:10px;
        left: 10px;
    }

    >h3{ 
        font-size: 40px;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .brand{
        width: 50%;
        text-align: center;
        position: absolute;
        bottom: 112px;
        left: 25%;
        background-color: white;
        color: black;
        padding: 0.5rem 0.3rem;
    }

    .description{
        position: absolute;
        bottom: 0;
        background-color: rgb(59, 92, 201);
        padding: 20px;
        display: flex;
        >div{
            width: 80%;
        }
        >span{
            width: 20%;
            align-self: flex-end;
            text-align: center;
        
        }
    }
}